{% extends 'layout.html' %} {% load static %} {% block content %}
<div class="container mt-2">
  <h2 class="mb-4 text-center">Employee Registration Form</h2>
  <form method="post" id="empForm" class="row g-3">
    {% csrf_token %}
    <div class="col-md-3">
      <label for="FirstName" class="form-label">First Name</label>
      <input
        type="text"
        class="form-control"
        name="FirstName"
        id="FirstName"
        placeholder="Enter First Name"
      />
    </div>
    <div class="col-md-3">
      <label for="LastName" class="form-label">Last Name</label>
      <input
        type="text"
        class="form-control"
        name="LastName"
        id="LastName"
        placeholder="Enter Last Name"
      />
    </div>
    <div class="col-md-3">
      <label for="dob" class="form-label">Date of Birth</label>
      <input type="date" class="form-control" name="dob" id="dob" />
    </div>
    <div class="col-md-3">
      <label for="Contact" class="form-label">Contact Number</label>
      <input
        type="tel"
        class="form-control"
        pattern="[6-9]{1}[0-9]{9}"
        name="Contact"
        id="Contact"
        placeholder="Enter Contact Number"
      />
    </div>
    <div class="col-md-6">
      <label for="employeID" class="form-label">Employee ID</label>
      <input
        type="text"
        class="form-control"
        pattern="EMP[0-9]{4}"
        name="employeID"
        id="employeID"
        placeholder="EMP1234"
      />
    </div>
    <div class="col-md-6">
      <label for="departmentId" class="form-label">Department</label>
      <select class="form-select" name="departmentId" id="departmentId">
        <option selected disabled>Please Select a Department</option>
        <option value="HR">HR</option>
        <option value="IT">IT</option>
        <option value="Sales">Sales</option>
        <option value="Finance">Finance</option>
      </select>
    </div>
    <div class="col-md-6">
      <label for="email" class="form-label">Email</label>
      <input
        type="email"
        class="form-control"
        name="email"
        id="email"
        placeholder="Enter Email"
      />
    </div>
    <div class="col-md-6">
      <label for="joiningdate" class="form-label">Joining Date</label>
      <input
        type="date"
        class="form-control"
        name="joiningdate"
        id="joiningdate"
        min="2010-01-01"
        max="2025-12-31"
        required
      />
    </div>
    <div class="col-md-6">
      <label for="Salary" class="form-label">Salary</label>
      <input
        type="text"
        class="form-control"
        pattern="^[0-9]+.?[0-9]+$"
        name="Salary"
        id="Salary"
        placeholder="Enter Salary"
      />
    </div>
    <div class="col-md-6">
      <label for="managerId" class="form-label">Manager ID</label>
      <input
        type="text"
        class="form-control"
        pattern="EMP[0-9]{4}"
        name="managerId"
        id="managerId"
        placeholder="EMP5678"
      />
    </div>
    <div class="col-md-6">
      <label for="Status" class="form-label">Employment Status</label>
      <select class="form-select" name="Status" id="Status">
        <option selected disabled>Select Status</option>
        <option value="Active">Active</option>
        <option value="InActive">InActive</option>
      </select>
    </div>
    <div class="col-md-6">
      <label for="Gender" class="form-label">Gender</label>
      <select class="form-select" name="Gender" id="Gender">
        <option selected disabled>Select Gender</option>
        <option value="Male">Male</option>
        <option value="Female">Female</option>
        <option value="Other">Other</option>
      </select>
    </div>
    <div class="col-md-6">
      <label for="panId" class="form-label">PAN ID</label>
      <input
        type="text"
        class="form-control"
        name="panId"
        id="panId"
        pattern="[A-Z]{5}[0-9]{4}[A-Z]{1}"
        placeholder="ABCDE1234F"
      />
    </div>
    <div class="col-md-6">
      <label for="AadharId" class="form-label">Aadhar ID</label>
      <input
        type="text"
        class="form-control"
        name="AadharId"
        id="AadharId"
        pattern="^[0-9]{12}$"
        placeholder="123456789012"
      />
    </div>
    <div class="col-12 text-center">
      <button type="submit" class="btn btn-primary">Submit</button>
    </div>
  </form>
</div>
{% endblock content %}
